@if (State.Todos.Count > 0) {
    var pendingCount = State.Active.Count();
    <footer class="footer">
        <span class="todo-count"><strong>@pendingCount</strong> @(pendingCount == 1 ? "item" : "items") left</span>
        <ul class="filters">
            <li>
                <a class=@SelectedClass("all") href="all">All</a>
            </li>
            <li>
                <a class=@SelectedClass("active") href="active">Active</a>
            </li>
            <li>
                <a class=@SelectedClass("completed") href="completed">Completed</a>
            </li>
        </ul>
        @if (State.Completed.Any()) {
            <button class="clear-completed" @onclick(State.ClearCompleted)>Clear completed</button>
        }
    </footer>
}

@functions {
    public AppState State { get; set; }

    private string _filter;
    public string Filter
    {
        set => _filter = value;
        get => string.IsNullOrEmpty(_filter) ? "all" : _filter;
    }

    private string SelectedClass(string selection) => 
        selection == Filter ? "selected" : "";

    protected override void OnParametersSet() =>
        State.OnChange += StateHasChanged;
}
