@using System.Threading.Tasks

<!-- TODO: respond to Enter rather than onchange once more events are supported -->

<header class="header">
    <h1>todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus value=@Text @onchange(v => AddTodo((string)v))>
</header>

@functions {
    public Action<string> OnNewTodo { get; set; }

    public string Text { get; set; }

    private void AddTodo(string text)
    {
        if (string.IsNullOrWhiteSpace(text))
            return;
        
        Text = text;
        OnNewTodo?.Invoke(text);

        // TODO: This ugly hack works to clear the input, but there must be a better way!
        Task.Run(() => 
        {
            Text = "";
            this.StateHasChanged();
        });
    }
}